@model WebApplication3.Models.LoginInfo
@{
    ViewBag.Title = "Index";
}

<h2>Authentication</h2>

@using (Html.BeginForm("Index", "Auth", FormMethod.Post))
{
    <div class="row form-group">
        <div class="col col-md-2">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="col col-md-5">
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Username)
        </div>
    </div>

    <div class="row form-group">
        <div class="col col-xs-12 col-md-2">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="col col-xs-12 col-md-5">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    </div>

    <div class="row">
        <div class="col col-md-7">
            <button type="submit" class="btn btn-success">
                Login
            </button>
        </div>
    </div>
}

